<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form_style.css') }}">
</head>
<body>
    <h1>Add User</h1>

    <section>
        <form method="post">
            <label for="user_name">User Name:</label>
            <input type="text" name="user_name" required><br>

            <label for="user_type">User Type:</label>
            <input type="text" name="user_type" required><br>

            <button type="submit">Add User</button>
        </form>
    </section>
</body>
</html>
