<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Services</h1>
    <div>
        <h2>User Services</h2>
        <ul>
            <li><a href="/add_user">Add User</a></li>
            <li><a href="/update_user">Update User</a></li>
            <li><a href="/remove_user">Remove User</a></li>
            <li><a href="/get_user">Get User Details</a></li>
        </ul>
    </div>
    <div>
        <h2>Book Services</h2>
        <ul>
            <li><a href="/add_book">Add New Book</a></li>
            <li><a href="/get_books_by_author">Get Books By Author</a></li>
            <li><a href="/get_books_by_genre">Get Books By Genre</a></li>
            <li><a href="/update_book">Update Book</a></li>
            <li><a href="/add_book_copy">Add Book Copy</a></li>
            <li><a href="/get_available_copies">Get Available Book Copies</a></li>
            <li><a href="/update_book_copy">Update Book Copy</a></li>
        </ul>
    </div>
</body>
</html>
